@mixin theme (

  $theme-class:               '.theme-light',

  $gray:                      #9D9D9C,
  $gray-light:                #e1e1e1,
  $gray-lightest:             #f7f7f7,
  $blue:                      #22398E,

  $body-background:           #ffffff,
  $body-textcolor:            #191a1b,
  $link-textcolor:            $gray

){

  #{$theme-class} //body class for theme
  {
    background-color: $body-background;
    color: $body-textcolor;

    a
      {
        color: $link-textcolor;
      }




   .header-links--item
    {
      &, a {
        background-color: $body-textcolor;
        color: $body-background;
      }
    }

    #header-links{
      .dropdown-content a.active { background-color: $gray; }
    }

    #nav-header a { color: $body-textcolor; }


    #nav-categories, footer[role='contentinfo']
      {
        background-color: $body-textcolor;
        &, a { color: $body-background; }
      }
    

  }

  

}