@mixin theme (

  $theme-class:               '.theme-light',

  $gray:                      #9D9D9C,
  $gray-light:                #e1e1e1,
  $gray-lightest:                #f7f7f7,
  $blue:                      #22398E,

  $body-background:           #ffffff,
  $body-textcolor:            #575756,
  $link-textcolor:            $gray

){

  #{$theme-class} //body class for theme
  {
    background-color: $body-background;
    color: $body-textcolor;

    a
      {
        color: $link-textcolor;
      }


    header[role='banner']
      {
        .dropdown-content
          {
            background-color: $body-textcolor;
            &, a { color: $body-background; }
          }

          nav a.active{
            color: $body-textcolor;
          }
      }

    // .header-top { background-color: $gray-lightest; }
    .header-top a { color: $body-textcolor; }
    .header-categories { border-color: $gray-light; }

    footer[role='contentinfo']
      {
        border-color: $gray-light;
      }


    .grid-item { color: $body-textcolor; }

    .section-specials
      {
        .d-table--cell:last-child { border-color: $body-textcolor; }
      }

  }

}