footer(role='contentinfo')
	.container-basic
		section
			nav.nav-g
				a(href="#").i-facebook
				a(href="#").i-instagram
			p: a(href="#") +43 (660) 458-38-37
			p: a(href="#") elena.a.fotografie@gmail.com
		section
			p @2019 Elena Anisimova, Kinder- und Familienfotografie in Linz, Austria
			p Please, note my website uses cookies for your better experience. By using my website you agree to this.