header(role='banner')
	.container-basic
		.header-top
			.header-top--col
				a(href="#")#header-logo: img(alt="", src="assets/i/Anisimova-Logo-g.png")

			.header-top--col
				nav.nav-g
					a(href="#").active Home
					a(href="#") 체ber Mich
					a(href="#") Preise
					a(href="#") Geschenkgutscheine
					a(href="#") Kontakt
			
			.header-top--col.t-align--right.nav-g
				.dropdown
					a(href="#") DH
					.dropdown-content.nav-v
						a(href="#") RU
						a(href="#").active DH

		.header-categories
			nav.nav-g
				a(href="#") alle Fotos
				a(href="#") Familienportr채t
				a(href="#") Kinder
				a(href="#") Portr채t
				a(href="#") Sport
				a(href="#") Berichte
				a(href="#") Hochzeiten
				a(href="#") Lovestory
				a(href="#") Berufsport채t
				a(href="#") Objektfotografie