header(role='banner')
	.container-basic
		.header-top
			.header-top--col
				a(href="#")#header-logo: img(alt="", src="assets/i/Anisimova-Logo-g.png")

			.header-top--col
				nav.nav-g
					a(href="#").active Home
					a(href="#") About
					a(href="#") Price
					a(href="#") Contacts
			
			.header-top--col.t-align--right.nav-g
				a(href="#"): .i-day
				.dropdown
					a(href="#") EN
					.dropdown-content.nav-v
						a(href="#").active EN
						a(href="#") RU
						a(href="#") DH

		.header-categories
			nav.nav-g
				a.main(href="#") All Photos
				a(href="#") Familienportrait
				a(href="#") Kinder
				a(href="#") Portrait
				a(href="#") Sport
				a(href="#") Reportage
				a(href="#") Hochzerten
				a(href="#") Lovestory
				a(href="#") Berufsportrait
				a(href="#") Objectphotografie