header(role='banner')
	.header-top
		.container-padding
			//- .header-top--col
			//- 	a(href="#")#header-logo: img(alt="", src="assets/i/Anisimova-Logo-g.png")

			.header-top--col
				nav.nav-g
					//- a(href="#").active Home
					a(href="#") 체ber Mich
					a(href="#") Preise
					a(href="#")#header-logo: img(alt="", src="assets/i/Anisimova-Logo-g.png")
					a(href="#") Geschenkgutscheine
					a(href="#") Kontakt
			
			.header-top--col.t-align--right.nav-g#header-lang
				.dropdown
					a(href="#") DE
					.dropdown-content.nav-v
						a(href="#") RU
						a(href="#").active DE

	.header-categories
		.container-padding
			nav.nav-g
				a(href="#") Alle Fotos
				a(href="#") Familienportr채t
				a(href="#") Kinder
				a(href="#") Portr채t
				a(href="#") Sport
				a(href="#") Berichte
				a(href="#") Hochzeiten
				a(href="#") Lovestory
				a(href="#") Berufsport채t
				a(href="#") Objektfotografie