header(role='banner')
	.container-padding

		section
			a(href="#")#header-logo: img(alt="", src="assets/i/Anisimova-Logo-g.png")

			#header-links
				.nav-g--sm
					div
						a.header-links--item(href="#", target="_blank"): i.i-facebook.d-block

					div
						a.header-links--item(href="#", target="_blank"): i.i-instagram.d-block

					.dropdown
						a.header-links--item.dropdown-toggle(href="#") DE
						.dropdown-content.nav-v
							a.header-links--item(href="#") RU
							a.header-links--item.active(href="#") DE

		section#nav-header.nav-wrapper
			.nav-inner
				.nav-content
					nav.nav-g
						a(href="#") über Mich
						a(href="#") Preise
						a(href="#") Geschenkgutscheine & Sonderangebote
						a(href="#") Fotoshootings Tipps
						a(href="#") Kontakt