extends extends/layout.pug

block html
	- var meta_title = 'About'
	- var header = true
	- var footer = true
	- var bodyclass = 'theme-light'
	- var active = "about"

block content

	section.container-narrow--text
		section
			img.i-block(alt="", src="assets/i/tmp/Anisimova.jpg")
		h1 Elena Anisimova fotografie 
		p Elene Anisimova was born in 1980 in the German city of Kehl. With a French father and a German mother, two cultures are his home.
		p After completing his high school degree in Stuttgart in 2001, David started assisting several prominent advertising and fashion photographers – including Ralph Mecke, Marco Grob, Peter Knaup and Indlekofer / Knoeple – in Hamburg, Paris and London.
		p In 2006, the Hamburg-based agency Kleinphotographen began to represent David. In the same year, David began to undertake large-scale advertising campaigns and title stories for renowned German national magazines such as Stern. Since then, he has worked for numerous prestigious advertising agencies, multi-national companies and magazines.
		p Next to these commissioned works, David has carried out a range of independent projects. In 2005, he traveled to Western Siberia and Peru to portray German and Austrian settlers in their villages. In 2009, he documented the life of the Gauchos in Argentina. This was followed the year thereafter by a photo coverage of the rural populace in Java, Indonesia.
		p David’s works are displayed in individual and group exhibitions in Berlin, Hamburg, Basel and Stuttgart.
		p In 2011, David concluded his collaboration with Kleinphotographen. To allow for the implementation of larger commissioned works, he cooperates with independent production companies.
		p David lives with his wife in Hamburg and they have two kids aged 3 and 6.
		p “It is David’s open-minded character that leads to his distinctive portraits – independent of whether these are of prominent and camera-apt actors, politicians and managers or of ordinary people.