extends extends/layout.pug

block html
	- var meta_title = 'About'
	- var header = true
	- var footer = true
	- var bodyclass = 'theme-light'
	- var active = "about"

block content
	
	section.page-imagetitle
		img(alt="", src="assets/i/About.jpeg")

	section.container-narrow--text
		h1 Профессиональный Фотограф Елена Анисимова 
		p Родилась в России в г. Екатеринбург
		p 
			b Образование: 
			| обучалась в Уральском Государственном Техническом Университете им. Б. Ельцины по специальности «Мировая экономика», Магистр экономики
		p
			b Работала: 
			ul
				li Рекламное Агентство «Видео Интернешнл Екатеринбург», Россия (руководитель отдела комплексных рекламных компаний)
				li Рекламное Агентство «ТРИЭЛ», Екатеринбург, Россия (соучредитель, генеральный директор)

		p: b А теперь не только «сухие/формальные» факты из жизни.

		p Итак, я и моя семья переехали в Австрию, а именно в г. Линц, в 2013 году. Признаюсь сразу, что люблю эту страну безгранично, с большим уважением отношусь к культуре Австрии, людям, природе, городскому устройству, чистоте всего и вся вокруг. Именно невероятной красоты природа – ухоженная, разнообразная, с какими-то умопомрачительными ландшафтами ВЕЗДЕ, природа, интегрированная в города, чистая, с великолепной инфраструктурой – всё это просто «заставило» меня взять камеру в руки. И в силу того, что мы постоянно путешествуем по всей Австрии, я начала сразу и очень много снимать. И как-то одновременно чудесным образом получилось, что окружающие меня люди стали просить меня провести для них фотосессии. Таким образом очень быстро в 2017 году я зарегистрировала фирму Elena A. Fotografie e.U., тут же был разработан логотип, фирменный шрифт и т.д. (некий необходимый минимум Brand Book).

		p В следующем 2018 году я уже приобрела студийное оборудование и провожу индивидуальные фотосессии в собственной меблированной фото-студии.

		p Обожаю фотографию как дело всей своей жизни. Специализируюсь больше на съемке людей и детей, но так же фанатично люблю спортивную фотографию, автомобили, технику и ландшафт. Очень люблю людей и получаю огромное наслаждение, подбирая и реализуя для каждого клиента что-то особенное именного для него. У меня нет типовых решений. Фотография – это не бизнес, фотография – это работа души! И знаете что, когда мне звонит и пишет искренне клиент – «…. Лена…., мои фотографии – это просто восторг…» или что-то в этом духе, я понимаю, что он/она счастлив. И это и для меня огромное счастье – ни с чем несравнимое.