extends extends/layout.pug

block html
	- var meta_title = 'Homepage'
	- var header = true
	- var footer = true
	- var bodyclass = 'theme-light'

block content
	.container-padding
		#nav-categories
			nav.nav-g
				a(href="#") Alle Fotos
				a(href="#") Familienporträt
				a(href="#") Kinder
				a(href="#") Porträt
				a(href="#") Sport
				a(href="#") Berichte
				a(href="#") Hochzeiten
				a(href="#") Lovestory
				a(href="#") Berufsportät
				a(href="#") Objektfotografie