extends extends/layout.pug

block html
	- var meta_title = 'Homepage'
	- var header = true
	- var footer = true
	- var bodyclass = 'theme-light'

block content
	.container-basic
		// section
		// 	h1
		// 		| Elena Anisimova fotografie 
		// 		span.t-light / Linz, Austria
		// 	#intro-content
		// 		p Hi, I'm Elena Anisimova. I'm a photographer and I have found myself loving photography for many years. There is an even greater love when it comes to capturing memories for other people. Find out more 
		// 			a(href="#") about me 
		// 			| or fill free to surf.

		section.m-b-sec--big
			.row.section-specials
				.col-md-4
					h2
						a(href="#")
							i.i-gift
							span Bestellen Geschenkgutscheine
					p A photosession can be a wonderful gift for a loved one, a married couple, and even for children (if they like to wriggle and attract attention, undoubtedly).

				.col-md-4
					h2
						a(href="#")
							i.i-special
							span Siehe Sonderangebote
					p Poppy fields are incredibly scenic places. Have time to get photos on the background of this miracle of nature. Get your spring photosession with a discount now.

				.col-md-4
					h2
						a(href="#")
							i.i-look
							span Vorbereitung Ihres Fotoshootings
					p For many photoshoot - exciting event. But do not worry, I will tell you how to prepare for photography

		.grid.stories
			a.grid-item(href="#")
				img.i-block(alt="", src="assets/i/tmp/Story-1.jpg")
				span Ivan Kupala Party
			a.grid-item(href="#")
				img.i-block(alt="", src="assets/i/tmp/Story-2.jpg")
				span Meine musikalische Perle
			a.grid-item(href="#")
				img.i-block(alt="", src="assets/i/tmp/Story-3.jpg")
				span Zoya Zavyalova
			a.grid-item(href="#")
				img.i-block(alt="", src="assets/i/tmp/Story-4.jpg")
				span Frühling ist immer in unseren Herzen
			a.grid-item(href="#")
				img.i-block(alt="", src="assets/i/tmp/Story-5.jpg")
				span Pianist
			a.grid-item(href="#")
				img.i-block(alt="", src="assets/i/tmp/Story-10.jpg")
				span  Der Frühling mit Elena Schwarz
			a.grid-item(href="#")
				img.i-block(alt="", src="assets/i/tmp/Story-6.jpg")
				span Ein Porträt für den kleinen, begabten Pianist 
			a.grid-item(href="#")
				img.i-block(alt="", src="assets/i/tmp/Story-7.jpg")
				span Ninas Erstkommunion
			a.grid-item(href="#")
				img.i-block(alt="", src="assets/i/tmp/Story-8.jpg")
				span Blumen-Feen
			a.grid-item(href="#")
				img.i-block(alt="", src="assets/i/tmp/Story-9.jpg")
				span  Zwei begabten Künstlerinnen
			
