extends extends/layout.pug

block html
	- var meta_title = 'Price'
	- var header = true
	- var footer = true
	- var bodyclass = 'theme-light'
	- var active = "price"

block content

	section.container-narrow--text
		table.container-full
			thead
				tr
					th 
					th Aufnahme 1 St.
					th Ein bearbeitetes Foto
			tbody
				tr
					td.subtitle Familienporträt
					td 150 €
					td 15 €
				tr
					td.subtitle Kinder
					td 150 €
					td 10 €
				tr
					td.subtitle Porträt
					td 150 €
					td 15 €
				tr
					td.subtitle Sport
					td 150 €
					td 15 €
				tr
					td.subtitle Reportage
					td 80 €
					td ohne Fotos mit Photoshop
				tr
					td.subtitle Hochzeiten
					td 80 €
					td 20 €
				tr
					td.subtitle Lovestory
					td 150 €
					td 15 €
				tr
					td.subtitle Berufsporträt
					td 150 €
					td 15 €
				tr
					td.subtitle Objektfotografie
					td 150 €
					td 20 €