extends extends/layout.pug

block html
	- var meta_title = 'Price'
	- var header = true
	- var footer = true
	- var bodyclass = 'theme-light'
	- var active = "price"

block content

	section.container-narrow--text
		table.container-full
			thead
				tr
					th 
					th Fotoshooting  - 1 St.
					th Ein bearbeitetes Foto
			tbody
				tr
					td.subtitle Familienportrait
					td 100 €
					td 10 €
				tr
					td.subtitle Kinder
					td 140 €
					td 14 €
				tr
					td.subtitle Porträt
					td 150 €
					td 10 €
				tr
					td.subtitle Sport
					td 120 €
					td 10 €
				tr
					td.subtitle Berichte
					td 160 €
					td 10 €
				tr
					td.subtitle Hochzeiten
					td 200 €
					td 20 €