extends extends/layout.pug

block html
	- var meta_title = 'Story'
	- var header = true
	- var footer = true
	- var bodyclass = 'theme-light'

block content
	section
		.slider
			.nav-wrapper
				.nav-inner
					.nav-content
						a.slider-item(href="#"): img(alt="", src="assets/i/tmp/Story-5.jpg")
						a.slider-item(href="#"): img(alt="", src="assets/i/tmp/Story-5-2.jpg")
						a.slider-item(href="#"): img(alt="", src="assets/i/tmp/Story-5-3.jpg")
						a.slider-item(href="#"): img(alt="", src="assets/i/tmp/Story-5-1.jpg")
						a.slider-item(href="#"): img(alt="", src="assets/i/tmp/Story-5-4.jpg")


	section.container-narrow
		h1 Pianist
		p Es war ein kleiner, sehr talentierter Pianist bei mir gestern. Рита Кройтер (Rita Kroiter) - die perfekte Klavierpädagogin, Catherina Hofer - brave und seeehr geduldige Mama, ich bin sehr stolz auf euch!

		nav.tags
			a(href="#") Familienporträt
			a(href="#") Kinder
			a(href="#") Porträt

	