extends extends/layout.pug

block html
	- var meta_title = 'Tips'
	- var header = true
	- var footer = true
	- var bodyclass = 'theme-light'
	- var active = "tips"

block content

	section.container-narrow--text
		h1.t-align--center Подготовка к съемке

		#tips-cols
			.tips-row
				.tips-col
					img.i-block(alt="", src="assets/i/tips-1.svg")
				.tips-col
					h2 1. Быть самим собой
					p Фотосъемка - это весело и интересно.


			.tips-row
				.tips-col
					img.i-block(alt="", src="assets/i/tips-2.svg")
				.tips-col
					h2 2. Высыпаемся
					p Хороший сон положительно отражается на настроении. Также дает возможность полноценно отдохнуть и помогает вам быть в хорошей форме.


			.tips-row
				.tips-col
					img.i-block(alt="", src="assets/i/tips-3.svg")
				.tips-col
					h2 3. одеждА
					p Подбор одежды: фотограф знает что хорошо для съемки и поможет! Выглаженные вещи и чистая обувь - всё берём с собой, не надеваем.

			.tips-row
				.tips-col
					img.i-block(alt="", src="assets/i/tips-4.svg")
				.tips-col
					h2 4. Внешний вид
					p Моем голову утром в день съемки. Укладка феном. Девушкам: макияж, маникюр, педикюр. Стиль - фотограф знает какой, фотограф поможет.


			.tips-row
				.tips-col
					img.i-block(alt="", src="assets/i/tips-5.svg")
				.tips-col
					h2 5. берём С собой
					p С собой на съемку берём: расческу, косметичку, воду, перекус, игрушки деткам, себя - самого красивого!

			.tips-row
				.tips-col
					img.i-block(alt="", src="assets/i/tips-6.svg")
				.tips-col
					h2 Мужчинам
					p Всё вышеперечисленное (исключая косметику) касается и мужчин!
