html, body { position: relative; }

body
  {
    opacity: 0;
    animation: 0.4s FadeIn ease-in forwards;
  }



//sticky footer -- flex
html, body { height: 100%; }
body { min-height: 100%; display: flex; flex-direction: column; }
main[role='main'] { flex: 1 0 auto; }
footer[role='contentinfo'] { flex-shrink: 0; }

main[role='main'] { padding-bottom: $margin-sec * 2; }
.home main[role='main'], .blog main[role='main'] { padding-bottom: 0; }

/*====== Set width of container ======*/
// .container-basic { @include secw($mq-desktop); }
.container-full {  width: 100%; box-sizing: border-box; }
.container-padding { @include secw(100%); }
.container-narrow { @include secw(476px); }
.container-narrow--text { @include secw(640px); }
/*====== end of Set width of container ======*/



/*====== Flow elements ======*/

.d-table
  {
    display: table;

    & > *{
      display: table-cell;
    }
  }

.d-table--row { display: table-row; }
.d-table--cell { display: table-cell; }

.d-inlineblock { display: inline-block !important; }
.d-block { display: block !important; }

.align-vertical { display: inline-block; vertical-align: middle; }
.align-top { display: inline-block; vertical-align: top; }

/*====== Flow elements ======*/


/*====== Bootstrap ======*/

.row
  {

    @media screen and (max-width: $bootstrap-md){
      *[class*='col-md']
        {
          margin-bottom: $vertical-rythm;
        }
    }

    @media screen and (max-width: $bootstrap-lg){
      *[class*='col-lg']
        {
          margin-bottom: $vertical-rythm;
        }
    }

  }

/*====== end of Bootstrap ======*/




/*====== Navigation ======*/

.dropdown
  {
    position: relative;

    & > .dropdown-content
      {
        visibility: hidden;
        opacity: 0;

        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        text-align: left;
        padding-top: 10px;

        a { border: 0; }
      }

    &:hover
      {
        & > .dropdown-content { animation: 0.2s FadeIn 0.4s ease-out forwards; }
      }
  }

/*====== end of Navigation ======*/


.page-imagetitle
  {
    background-color: #DBD7D8;
    height: 40vh;
    position: relative;
    overflow: hidden;

    // padding-top: 1vh;
    // padding-bottom: 1vh;
    text-align: center;

    .page-imagetitle_i{
      display: inline-block;
      max-height: 100%;

      position: relative;
      z-index: 1;
    }

    .page-imagetitle_b{
      background-size: cover;
      background-position: 50% 50%;
      -webkit-filter:blur(20px);
      filter: blur(20px);

      position: absolute;
      top: 0;
      left:0;
      right: 0;
      bottom: 0;
      z-index: 0;
    }
  }



/* Tabs */
.tab-content {
  display: none;

  &.active {
    display: block;
  }
}


.tab-content {
  margin-top: $vertical-rythm;
  margin-bottom: $vertical-rythm;

  transition: 0.2s all ease;
}

.tabs
  {
    border-width: 0 0 2px;
    border-style: solid;
    font-weight: 500;
    @extend %text_uppercase;

  }

.tab {
  display: inline-block;
  padding: $vertical-rythm/2 $vertical-rythm;
  border: 0;
}





#kontakt-cols
  {
    display: table;
    margin-left: auto;
    margin-right: auto;

    & > div{
      display: table-cell;
      vertical-align: baseline;
      padding: 0 $vertical-rythm;

      @include mobile(){
        display: block;
        padding: 0 0 $vertical-rythm;
      }

      &:last-child { padding-right: 0; }


      &:first-child{
        padding-left: 0;
        // text-align: right;
        
        p {
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 30px;
          line-height: 1;
          font-weight: 400;
        }
      }
    }
  }


  #kontakt-socials
    {
      font-size: 24px;
      display: table;
      // width: 100%;

      // @include mobile(){
      //   width: auto;
      // }

      div{
        display: table-cell;
        padding-right: $vertical-rythm;

        &:last-child{
          padding-right: 0;
        }
      }

      a{
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        width: 48px;
        height: 48px;
        
      }
    }


.page-kontakt main { padding-bottom: 450px + $margin-sec; position: relative; }

#kontakt-map
  {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: 0.2 ease all;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &:hover{
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
    }

    iframe { width: 100%; display: block; }
  }




.tips-row
  {
    display: table;
    width: 100%;
    margin-bottom: $margin-sec*1.5;
  }

.tips-col
  {
    display: table-cell;
    vertical-align: middle;

    &:first-child{
      width: 25%;
      padding-right: 5%;
    }

  }


.slider { text-align: center; }