.grid
  {

   /* Prevent vertical gaps */
   line-height: 0;
   
   column-count: 4;
   column-gap: 0px;

   @include mobile(){
    column-count: 2;
   }

   @include tablet(){
    column-count: 3;
   }

  }

.grid-item
  {
    // /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;

    position: relative;
    overflow: hidden;
    display: block;

    border: 0;

    img{
      display: block;
      width: 100%;
      height: auto;
    }

    span
      {
        position: absolute;
        left: 1em;
        bottom: 1em;
        color: #fff;
        z-index: 1;
      }
  }


a.grid-item
  {
    img
      {
        // transform: scale(1);
        transition: .6s linear all;
      }

    &:hover{
      opacity: 1;

      // img { transform: scale(1.1); }
      img { transform: scale(1.1); }
    }
  }