@mixin sectionMargins($margin){
  // margin-top: $margin;
  margin-bottom: $margin;
}

section
  {
    position: relative;
    @include sectionMargins($margin-sec);

    section{
      @include sectionMargins($margin-sec/2);
    }

    // &:first-child { margin-top: 0 }
    &:last-child { margin-bottom: 0 }
  }


.section-specials
  {

    h2 { @extend %text_uppercase; }
    i[class*='i-']{
      font-size: 30px;
      margin-right: 10px;
    }

    h2{
      white-space: nowrap;

      span, i
        {
          line-height: 1.2;
          display: inline-block;
          vertical-align: middle;
        }

      span{
        white-space: normal;
      }
    }

    .d-table--cell{
      vertical-align: top;

      &:last-child{
        border-width: 0 0 0 1px;
        border-style: solid;
        padding-left: 10px;
        height: 114px;
      }
    }
  }