@mixin sectionMargins($margin){
  // margin-top: $margin;
  margin-bottom: $margin;
}

section
  {
    position: relative;
    @include sectionMargins($margin-sec);

    section{
      @include sectionMargins($margin-sec/2);
    }

    // &:first-child { margin-top: 0 }
    &:last-child { margin-bottom: 0 }
  }




.nav-wrapper
  {
    overflow-y: hidden;
    height: 80px;
  }

.nav-inner
  {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 15px;
      height: 80px;
  }

.nav-content
  {
    white-space: nowrap;
  }