@mixin sectionMargins($margin){
  // margin-top: $margin;
  margin-bottom: $margin;
}

section
  {
    position: relative;
    @include sectionMargins($margin-sec);
    
    &.big, .big { @include sectionMargins($margin-sec * 2); }
    
    // &:first-child { margin-top: 0 }
    &:last-child { margin-bottom: 0 }
  }




.nav-wrapper
  {
    overflow-y: hidden;
    box-sizing: content-box;
    height: $font-size-base * 1.5;
  }

.nav-inner
  {
    overflow-x: scroll;
    overflow-y: hidden;
    height: $font-size-base * 1.5 + 20px;
  }

.nav-content
  {
    white-space: nowrap;
  }


#nav-categories
  {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
  }


.tags
  {
    a { margin-right: 15px; }
  }



$slider_h: 460px;

@mixin slider($height){

  .nav-wrapper { height: $height; }
  .nav-inner { height: $height + 20; }

  .slider-item
  {
    display: inline-block;
    height: $height;

    img{
      display: block;
      max-height: 100%;
    }
  }

}


.slider { @include slider(460px); }
.slider-mid { @include slider(360px); }




.image-attached{
  margin: 0 auto;
  border: 0;
  display: block;
  text-align: center;
}


.image-location{
  font-size: $font-size-base + 2;
  text-align: center;

  span {
    display: inline-block;
    vertical-align: middle;
  }

  .i-location{
    margin-right: 10px;
  }
}
